
/*.inline{
    display: inline;
}
.h{
    font-size: 16px;
    position: absolute;
}
.absolute{
    position: absolute;
}
.BlockButton{
    border: 1px solid rgb(206, 200, 200);
    margin: 5em 2em;
    font-size: 16px;
    font-weight: 800;
    width: 6em;
    text-align: center;
}
.px{
    line-height: 10px;
    font-size: 20px;
margin: 5px 10px;
}
.price{
    position: absolute;
    right: 3em;
    margin-top: 6em;
}*/
#Cont{
    margin-left: 10px;
}
.h{
    font-family: sans-serif;
    font-size: 16px;
    width: 80%;
    margin-left: 10px;
    margin-bottom: 2em;
}
#mainC{
    margin-top: 20px;
    display: flex;
    max-height: 9rem;
}
#fl-row{
    gap: 12%;
    display: flex;
font-size: 17px;
}
#Light{
    color: #6b7280;
    font-weight: normal;
}
#block{
    border: 1px solid rgb(175, 169, 169);
    display: flex;
    width: 5%;
    min-width: 100px;
    gap: 13px;
    line-height: 2em;
    justify-content: center;
}
.px{
    font-size: 25px;
}
.image{
    max-width: 25%;
}
h1.h{
font-size: 16px;
}